<!DOCTYPE HTML>
<html>
    <head>
        <title>Training Angular JS 1</title>
        <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">
    </head>
    <body>
        <!-- Your code here -->
        <div ng-app="appModule" ng-controller="ctrlForm">
            <form name="form">
                <label for="name">Name :</label>
                <input type="text" ng-model="player.name" name="name"><br>

                <label for="email">Email :</label>
                <input type="text" ng-model="player.email" name="email"><br/>

                <label for="url">Url :</label>
                <input type="text" ng-model="player.url" name="url"><br/>

                <label for="age">Age :</label>
                <input type="text" ng-model="player.age" name="age"><br/>

                <input type="submit" ng-click="save_data(player)" value="Save Player"><br/>
            </form>
            <h3>Saved Data</h3>
            <p>Name : <span ng-bind="saved.name"></span></p>
            <p>Email : <span ng-bind="saved.email"></span></p>
            <p>Url : <span ng-bind="saved.url"></span></p>
            <p>Age : <span ng-bind="saved.age"></span></p>
        </div>
        <script src="../js/angular.js" type="text/javascript"></script>
        <script src="../form/module-file.js" type="text/javascript"></script>
    </body>
</html>
